<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onClickCreateServer()"
>
  Add Server
</button>
<input type="text" class="form-control mt-2" (input)="onInputData($event)" />

<input type="text" class="form-control mt-2" [(ngModel)]="serverName" />

<!-- <p class="mt-2">{{ serverName }}</p> -->
<p *ngIf="showServerCreation; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p>No Server was created !</p>
</ng-template>

<p>
  <app-server *ngFor="let server of serverList"></app-server>
</p>
